<a href="https://colab.research.google.com/github/JuanSCalderon/juanscalderon.github.io/blob/master/Modulo3_Grupo11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas y tuplas

## Listas

In [ ]:
# variable
x = 4
y = 3.4
z = "hola"
B = True

In [ ]:
lista_A = [1,2,3,4,5]
lista_A

[1, 2, 3, 4, 5]

In [ ]:
lista_B = [2.3, 4.5, 8.9]
lista_B

[2.3, 4.5, 8.9]

In [ ]:
lista_C = ["a", "b", "Hola"]
lista_C

['a', 'b', 'Hola']

In [ ]:
lista_D = [23, 4.5, "abc"]
lista_D

[23, 4.5, 'abc']

In [ ]:
lista_A + lista_B

[1, 2, 3, 4, 5, 2.3, 4.5, 8.9]

In [ ]:
lista_E = [1, 2.3, "ab", [0,9]]
lista_E

[1, 2.3, 'ab', [0, 9]]

### extend()

In [ ]:
lista_A.extend(lista_B)
lista_A

[1, 2, 3, 4, 5, 2.3, 4.5, 8.9]

### Repetir *

In [ ]:
lista_B*3

[2.3, 4.5, 8.9, 2.3, 4.5, 8.9, 2.3, 4.5, 8.9]

### Comparación (< > <= >= == !=)

In [ ]:
x = [1,2,3]
y = [1,2]

x != y

True

In [ ]:
x = [10,32,43,12,23,65,90]
x
x[0]

10

### Sub índice

In [ ]:
x = [23, 43, 87, 21, 14, 90, 68, 201]
print(x)
print("x[0] = ", x[0])
print("x[2] = ", x[2])
print("x[7] = ", x[7])
print("x[-1] = ", x[-1])
print("x[-2] = ", x[-2])
print("x[-8] = ", x[-8])

[23, 43, 87, 21, 14, 90, 68, 201]
x[0] =  23
x[2] =  87
x[7] =  201
x[-1] =  201
x[-2] =  68
x[-8] =  23

In [ ]:
x = [23, 43, 87, 21, 14, 90, 68, 201]
print(x)
print("x[1] + x[0] = ",x[1] + x[0])

[23, 43, 87, 21, 14, 90, 68, 201]
x[1] + x[0] =  66

### Métodos

### len()

In [ ]:
len(x)

8

### append()

In [ ]:
x = [23, 43, 87, 21, 14, 90, 68, 201]
print(x)
x.append(2)
print(x)
x.append(888)
print(x)

[23, 43, 87, 21, 14, 90, 68, 201]
[23, 43, 87, 21, 14, 90, 68, 201, 2]
[23, 43, 87, 21, 14, 90, 68, 201, 2, 888]

In [ ]:
# extend()
x = [23, 43, 87, 21, 14, 90, 68, 201]
y = ["a", 3.2, 123]
print(x)
x.extend([2, 13])
print(x)

[23, 43, 87, 21, 14, 90, 68, 201]
[23, 43, 87, 21, 14, 90, 68, 201, 2, 13]

### insert()

In [ ]:
x = [23, 43, 87, 21, 14, 90, 68, 201]
print(x)
print(x[1])
x.insert(1, 100)
print(x)
print(x[1])

[23, 43, 87, 21, 14, 90, 68, 201]
43
[23, 100, 43, 87, 21, 14, 90, 68, 201]
100

### remove()

In [ ]:
x = [23, 100, 43, 100, 87, 21, 14, 90, 100, 68, 201]
print("x = ",x)
x.remove(100)
print("x = ",x)
x.remove(100)
print("x = ",x)
x.remove(100)
print("x = ",x)

x =  [23, 100, 43, 100, 87, 21, 14, 90, 100, 68, 201]
x =  [23, 43, 100, 87, 21, 14, 90, 100, 68, 201]
x =  [23, 43, 87, 21, 14, 90, 100, 68, 201]
x =  [23, 43, 87, 21, 14, 90, 68, 201]

### slice()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("len(x) = ",len(x))
print("x[8] =",x[8])
print("x[0:8] = ", x[0:8])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
len(x) =  9
x[8] = 201
x[0:8] =  [23, 100, 43, 87, 21, 14, 90, 68]

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("x[0:] = ", x[0:])
print("x[3:] = ", x[3:])
print("x[:3] = ", x[:3])
print("x[0:-1] = ", x[0:-1])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x[0:] =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x[3:] =  [87, 21, 14, 90, 68, 201]
x[:3] =  [23, 100, 43]
x[0:-1] =  [23, 100, 43, 87, 21, 14, 90, 68]

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("x[3:8] = ", x[3:8])
print("x[3:8:2] = ", x[3:8:2])
print("x[3:8:3] = ", x[3:8:3])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x[3:8] =  [87, 21, 14, 90, 68]
x[3:8:2] =  [87, 14, 68]
x[3:8:3] =  [87, 90]

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("x[8:0:-1] = ", x[8:0:-1])
print("x[8::-1] = ", x[8::-1])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x[8:0:-1] =  [201, 68, 90, 14, 21, 87, 43, 100]
x[8::-1] =  [201, 68, 90, 14, 21, 87, 43, 100, 23]

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("x[1:6] = ", x[1:6])
print("x[slice(1, 6)] = ", x[slice(1, 6)])
print("x[slice(1, 6, 2)] = ", x[slice(1, 6, 2)])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x[1:6] =  [100, 43, 87, 21, 14]
x[slice(1, 6)] =  [100, 43, 87, 21, 14]
x[slice(1, 6, 2)] =  [100, 87, 14]

### count()

In [ ]:
x = [23, 100, 43, 87, 100, 14, 90, 100, 100, 201]
print("x = ",x)
print("x.count(100) = ", x.count(100))

x =  [23, 100, 43, 87, 100, 14, 90, 100, 100, 201]
x.count(100) =  4

### index()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print("x.index(21) = ", x.index(21))

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x.index(21) =  4

### max() min()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
print(max(x))
print(min(x))

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
201
14

### sort()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
x.sort()
print("x = ",x)
x.reverse()
print("x = ",x)
y = ["b","r","s","k","jcA","OK","NS","DF","FK","JC"]
y.sort()
print(y)

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x =  [14, 21, 23, 43, 68, 87, 90, 100, 201]
x =  [201, 100, 90, 87, 68, 43, 23, 21, 14]
['DF', 'FK', 'JC', 'NS', 'OK', 'b', 'jcA', 'k', 'r', 's']

### list()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
y = list([12, 3])

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]

[12, 3]

### pop()

In [ ]:
x = [23, 100, 43, 87, 21, 14, 90, 68, 201]
print("x = ",x)
x.pop(1)
print("x = ",x)

x =  [23, 100, 43, 87, 21, 14, 90, 68, 201]
x =  [23, 43, 87, 21, 14, 90, 68, 201]

## Tuplas

In [ ]:
print(type([1, 2, 3]))
print(type((1, 2, 3)))

<class 'list'>
<class 'tuple'>

In [ ]:
x = [1, 2, 3, 4]
print(x)
print(x[1])
x[1] = 99
print(x)
print(x[1])

[1, 2, 3, 4]
2
[1, 99, 3, 4]
99

In [ ]:
y = (1, 2, 3, 4)
print(y)
print(y[1])

(1, 2, 3, 4)
2

In [ ]:
z = ('a', "hola", 23, 4.5, True)
print(z)
z[-1]

('a', 'hola', 23, 4.5, True)

True

In [ ]:
w = (7, 5, 3)
q = z + w
print(q)
print(q[0])

('a', 'hola', 23, 4.5, True, 7, 5, 3)
a

### tuple()

In [ ]:
A = "Hola amigo."
print(A)
B = tuple(A)
print(B)

Hola amigo.
('H', 'o', 'l', 'a', ' ', 'a', 'm', 'i', 'g', 'o', '.')

### unpacking *

In [ ]:
print(z)
print(*z)
C = list(z)
print(C)

('a', 'hola', 23, 4.5, True)
a hola 23 4.5 True
['a', 'hola', 23, 4.5, True]

### map()

In [ ]:
D = list(map(float, ('1', '2', '3')))
print(D)

[1.0, 2.0, 3.0]

In [ ]:
E = list(map(print, [99, 87, 66, 45]))

99
87
66
45

In [ ]:
E = list(map(int, input().split()))
print(E)
print(E[0])

34 3456789
[34, 3456789]
34

In [ ]:
E = tuple(map(int, input().split()))
print(E)
print(E[0])

12 34 56
(12, 34, 56)
12

In [ ]:
# baraja:
bp = (1, 2, 3, 4, 5, 6, 7, 8, 9, 'j', 'q', 'k')

# Estructuras de repetición

## While

In [ ]:
x = 1
print(x)
x = x + 1 # x=2
print(x)
x = x + 1 # x=3
print(x)
x = x + 1 # x=4
print(x)
x = x + 1 # x=5
print(x)
x = x + 1 # x=6
print(x)
x = x + 1 # x=7

1
2
3
4
5
6

In [ ]:
x = 1
while x<=6:
  print(x)
  x = x + 1
print("Fin del ciclo.")

1
2
3
4
5
6
Fin del ciclo.

In [ ]:
x = 10
while x>=10:
  x = int(input("Ingrese el valor: "))
print(x)

Ingrese el valor: 23
Ingrese el valor: 43
Ingrese el valor: 23456
Ingrese el valor: 123
Ingrese el valor: 2
2

## For

In [ ]:
A = list(range(5))
print(A)

[0, 1, 2, 3, 4]

In [ ]:
A = list(range(1, 6))
print(A)

[1, 2, 3, 4, 5]

In [ ]:
A = list(range(1, 6, 2))
print(A)

[1, 3, 5]

In [ ]:
for x in range(1, 7, 1):
  print(x)
print("Termina el ciclo.")

1
2
3
4
5
6
Termina el ciclo.

In [ ]:
for i in [56, 34, 32]:
  print(i)

56
34
32

In [ ]:
for j in "abcdef":
  print(j)

a
b
c
d
e
f

### ejemplo sucesión de Fibonacci

In [ ]:
A = 0
print(A)
B = 1
print(B)
C = A + B  #C=1
print(C)
A = B
B = C
C = A + B  #C=2
print(C)
A = B
B = C
C = A + B  #C=3
print(C)
A = B
B = C
C = A + B  #C=5
print(C)
A = B
B = C
C = A + B  #C=8
print(C)
A = B
B = C
C = A + B  #C=13
print(C)
A = B
B = C

0
1
1
2
3
5
8
13

In [ ]:
A = 0
print(A)
B = 1
print(B)

for i in range(8):
  C = A + B
  print(C)
  A = B
  B = C

0
1
1
2
3
5
8
13
21
34

### ejemplo factorial

In [ ]:
x = int(input("Ingrese un número para hallar su factorial: "))
x = abs(x)
for i in range(1, x):
  x = x*i
print("El resultado es: ", x)

Ingrese un número para hallar su factorial: -6
El resultado es:  720

In [ ]:
x = 5
for i in range(1, x):
  print(i)

1
2
3
4

In [ ]:
# 5*1*2*3*4
x = 5
x = x*1
x = x*2
x = x*3
x = x*4
#x = x*i

# String

In [ ]:
A = "Dios es primero, "
B = "Porque Jesús salva."
C = A + B
print(C)
print(A * 2)
print("El Señor es \nDios.")
print("El Señor es \tDios.")

Dios es primero, Porque Jesús salva.
Dios es primero, Dios es primero,
El Señor es
Dios.
El Señor es 	Dios.

In [ ]:
len(A)

17

In [ ]:
print(C)
print(C[1])
print(C[0:4])
print(C[8:20])
print(C[20:7:-1])
print(C[-6:])

Dios es primero, Porque Jesús salva.
i
Dios
primero, Por
qroP ,oremirp
salva.

In [ ]:
x = 'ac'
y = 'ab'
print(x == y)
print(x > y)

False
True

In [ ]:
print(ord('1'))
print(ord('a'))
print(ord('A'))
print(chr(98))

'a' > 'A'

49
97
65
b

True

In [ ]:
print(A)
print(A.find('es'))

Dios es primero,
5

In [ ]:
print("AbCdEfGHIjkl")
print("AbCdEfGHIjkl".lower())
print("AbCdEfGHIjkl".upper())

AbCdEfGHIjkl
abcdefghijkl
ABCDEFGHIJKL

In [ ]:
A = "    Dios es primero.    "
print(A.rstrip())
print(A)

    Dios es primero.
    Dios es primero.

In [ ]:
type(A.split())

list

In [ ]:
# ejemplo cadenas:
A = input("Ingrese cadena 1: ")
B = input("Ingrese cadena 2: ")

if A.find(B) == 0:
  print("La cadena 1 inicia con la cadena 2.")

Ingrese cadena 1: erf gth asdfgh sdfgh
Ingrese cadena 2: gth

# Reto 3

In [ ]:
# ingreso de datos:
varlista = input().split()
print(varlista)

3
11 22 33
['11', '22', '33']

In [ ]:
list(map(int, varlista))

[11, 22, 33]

In [ ]:
n = int(input())
db = []
for i in range(n):
  c = list(map(int, input().split()))
  db.append(c)

print(db)

3
32 432 65 321 1234
87 543 67 123 4321
65 345 98 432 7654
[[32, 432, 65, 321, 1234], [87, 543, 67, 123, 4321], [65, 345, 98, 432, 7654]]

In [ ]:
[32, 432, 65, 321, 1234]
[87, 543, 67, 123, 4321]
[65, 345, 98, 432, 7654]

print(db)
print(db[2])
print(db[0][1])
print(db[2][2])

[[32, 432, 65, 321, 1234], [87, 543, 67, 123, 4321], [65, 345, 98, 432, 7654]]
[65, 345, 98, 432, 7654]
432
98

In [ ]:
print(20 < db[0][0] and db[0][0] < 70)
print(20 < db[1][0] and db[1][0] < 70)
print(20 < db[2][0] and db[2][0] < 70)

True
False
True

In [ ]:
for j in range(n):
  print(20 < db[j][0] and db[j][0] < 70)

True
False
True

In [ ]:
print(db[0][0] > 20 and db[0][0] < 70)
print(db[0][1] > 100 and db[0][1] < 300)
print(db[0][2] >=240 and db[0][2] <=275)
print(db[0][3] <= 50)

print(db[1][0] > 20 and db[1][0] < 70)
print(db[1][1] > 100 and db[1][1] < 300)
print(db[1][2] >=240 and db[1][2] <=275)
print(db[1][3] <= 50)

print(db[2][0] > 20 and db[2][0] < 70)
print(db[2][1] > 100 and db[2][1] < 300)
print(db[2][2] >=240 and db[2][2] <=275)
print(db[2][3] <= 50)

True
False
False
False
False
False
False
False
True
False
False
False

In [ ]:
db[0][0] > 20 and db[0][0] < 70
db[0][1] > 100 and db[0][1] < 300
db[0][2] >=240 and db[0][2] <=275
db[0][3] <= 50

db[1][0] > 20 and db[1][0] < 70
db[1][1] > 100 and db[1][1] < 300
db[1][2] >=240 and db[1][2] <=275
db[1][3] <= 50

db[2][0] > 20 and db[2][0] < 70
db[2][1] > 100 and db[2][1] < 300
db[2][2] >=240 and db[2][2] <=275
db[2][3] <= 50

False

In [ ]:
for k in range(n):
  if (db[k][0] > 20 and db[k][0] < 70) and\
   (db[k][1] > 100 and db[k][1] < 500) and\
   (db[k][2] >=40 and db[k][2] <=275) and\
   (db[k][3] <= 500):
   print(db[k][4])

1234
7654